<footer class="site-footer">
    <div class="social-icons">
        <a href="https://www.facebook.com/" target="_blank"><img src="/images/facebook.png" alt="Facebook"
                height="30"></a>
        <a href="https://www.instagram.com/" target="_blank"><img src="/images/insta.png" alt="Instagram"
                height="30"></a>
        <a href="https://twitter.com/" target="_blank"><img src="/images/twitter.png" alt="Twitter" height="30"></a>
    </div>
    <p class="copyright">&copy; 2025 Wanderlust Adventures. All rights reserved.</p>
</footer>
